.header{

    height: 50px;
    color: #fff;
    .nav{
        margin: 0;
        height: 38px;
        margin-right: 10px;
    }
    .icon{
        background-color: #fff;
        height: 20px;
        width: 20px;
    }
    button{

        color: #fff;
    }
}