<div class="header" fxLayout="row">
    <div class="spliter"></div>
    <button mat-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<p></p>
<form ngNoForm [formGroup]='editForm' fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="Submit()">
    <mat-form-field >
        <mat-label>Item Name</mat-label>
        <input matInput formControlName='name' name='name' pattern='[a-zA-Z]*' type="text">
        <mat-error style="color: red; font-size: 10px;" *ngIf='formErrors.name'>{{formErrors.name}}</mat-error>
    </mat-form-field>
    <mat-form-field >
        <mat-label>Price</mat-label>
        <input matInput formControlName='price' name='price' type="text">
        <mat-error style="color: red; font-size: 10px;" *ngIf='formErrors.price'>{{formErrors.name}}</mat-error>
    </mat-form-field>
    <mat-form-field >
        <mat-label>image</mat-label>
        <input matInput formControlName='image' name='image' type="text">
        <mat-error style="color: red; font-size: 10px;" *ngIf='formErrors.image'>{{formErrors.image}}</mat-error>
    </mat-form-field>
    <mat-form-field >
        <mat-label>Price</mat-label>
        <input matInput formControlName='description' name='description' type="text">
        <mat-error style="color: red; font-size: 10px;" *ngIf='formErrors.description'>{{formErrors.description}}</mat-error>
    </mat-form-field>
    <button mat-button [disabled]='!editForm.valid'>
        Submit
    </button>
</form>


