.dashboard{
    padding: 15px;
    .example-card{
        margin-top: 10px;
        width: 300px;
    }
    .green{
        color: rgb(0, 199, 50);
    }
    .white{
        color: #fff;
    }
    .bold{
        font-weight: 500;
    }
}